label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
input {
  padding: 16px 26px;
  border-radius: 20px;
}
input:focus {
  border: 2px solid #494ce8; 
}
textarea {
  padding: 30px 27px;
  border-radius: 20px;
}
textarea:focus {
  border: 2px solid #494ce8; 
}
input,
textarea {
  width: 100%;
}
select,
option {
  padding: 16px 26px;
  margin-bottom: 30px;
  border-radius: 20px;
}
